In [1]:
# pelo longo?
# perna curta?
# faz auau?
#brinca na lama?

porco1 = [0,1,0,1]
porco2 = [0,1,1,0]
porco3 = [1,1,0,1]
porco4 = [1,1,0,1]

cachorro1 = [0,1,1,0]
cachorro2 = [1,0,1,0]
cachorro3 = [1,1,0,1]
cachorro4 = [0,1,1,1]

treino_x = [porco1, porco2, porco3, porco4, cachorro1, cachorro2, cachorro3, cachorro4]
treino_y = [1,1,1,1,0,0,0,0]

In [2]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC()

In [3]:
animal_misterioso1 = [0,1,1,1]
animal_misterioso2 = [1,0,1,1]
animal_misterioso3 = [0,1,0,0]
animal_misterioso4 = [1,1,1,1]
prev = modelo.predict([animal_misterioso1,animal_misterioso2,animal_misterioso3,animal_misterioso4])
prev

array([0, 0, 1, 0])

In [4]:
animal_misterioso1 = [0,1,1,1]
animal_misterioso2 = [1,0,1,1]
animal_misterioso3 = [0,1,0,0]
animal_misterioso4 = [1,1,1,1]

teste_x = [animal_misterioso1,animal_misterioso2,animal_misterioso3,animal_misterioso4]
teste_y = [0,0,1,0]

In [5]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 0, 1, 0])

In [6]:
from sklearn.metrics import accuracy_score

accuracy_score(teste_y,previsoes)

1.0

In [7]:
import pandas as pd 
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [8]:
dados.sample(6)

    home  how_it_works  contact  bought
39     1             0        1       1
24     1             0        1       1
65     0             1        1       1
48     1             1        0       0
74     0             0        1       0
51     1             1        0       0

In [9]:
x = dados[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [10]:
y = dados["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [11]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

modelo = LinearSVC()
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)
modelo.fit(treino_x,treino_y)

previsoes = modelo.predict(teste_x)
accuracy_score(teste_y, previsoes) * 100

96.0

In [12]:
treino_x.shape

(74, 3)

In [13]:
teste_x.shape

(25, 3)